<form action="<%= search_formulae_path %>" id="search-form">
  <%= "🔎" if local_assigns[:with_icon] %>
  <input id="search" name="search" type="text" placeholder="<%= params[:search] || 'Search for formulae…'.html_safe %>" />
</form>
