@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "font-awesome-sprockets";
@import "font-awesome/variables";
@import "font-awesome/mixins";
@import "font-awesome/path";
@import "font-awesome/core";
@import "font-awesome/icons";

$color_peach_orange_approx: #f9d094;
$color_rangitoto_approx: #2e2a24;

$color_marigold_approx: #ba832c;
$color_di_serria_approx: #d3a459;
$color_dallas_approx: #745626;
$black_25: rgba(0, 0, 0, 0.25);
$black_30: rgba(0, 0, 0, 0.3);
$white: #fff;
$white_8: rgba(255, 255, 255, 0.08);
$black_50: rgba(0, 0, 0, 0.5);
$black_40: rgba(0, 0, 0, 0.4);
$black_20: rgba(0, 0, 0, 0.2);
$color_reno_sand_30_approx: rgba(162, 107, 20, 0.3);
$color_reno_sand_25_approx: rgba(162, 107, 20, 0.25);
$color_shadow_approx: #816f51;

html {
  background: $color_rangitoto_approx;
  width:      100%;
}

body {
  color:       $color_peach_orange_approx;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
  margin:      0 auto;
  width:       57em;
  max-width:   100%;
}

a {
  color:           inherit;
  font-style:      normal;
  font-weight:     bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.feed-link {
    display:     block;
    float:       right;
    font-size:   20pt;
    position:    absolute;
    right:       2.3em;
    top:         1.8em;
  }
}

div#taps {
  padding-top: 1.5em;

  h2 {
    font-size:   1.5em;
    text-align:  center;
  }

  div.repo {
    font-size:   1.3em;
    font-weight: bold;
    padding:     0.1em 0.2em 0.3em 0.5em;

    strong {
      float:          right;
      line-height:    1.8em;
      vertical-align: middle;
    }
  }
}

div#basic h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;

  em {
    left:     20%;
    position: absolute;
  }
}

div#change-info {
  padding-left: 2em !important;
}

div#content {
  padding:    2em 20px;
  position:   relative;
  text-align: justify;

  a {
    &.formula {
      font-size:   1.8em;
    }

    &.repo {
      font-weight: normal;
    }
  }

  div, tr {
    &.formula {
      font-size: 0.8em;

      a {
        font-weight: normal;
      }
    }
  }

  .listing-header, #search-form {
    text-align: center;
  }

  nav + div.listing {
    padding: 0;
  }

  div.error {
    font-weight: bold;
    text-align:  center;
  }
}

div#deps, div#revdeps {
  margin-top: 1.5em;

  h2 {
    margin-bottom: 0.5em;
  }
}

div#description {
  padding: 0 0 0.3em 0 !important;
}

div#flash-error, div#flash-notice {
  font-size:   1.2em;
  font-weight: bold;
  text-align:  center;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  margin-bottom: 1em;
  width: 100%;
  @include border-radius(0.4em);
}

div#flash-error {
  background:   #f99;
  color:        #a00;
}

div#flash-notice {
  background:   #9f9;
  color:        #0a0;
}

div#footer {
  color:      $color_peach_orange_approx;
  font-size:  10pt;
  padding:    0.5em 0;
  text-align: center;

  p {
    opacity: 0.5;
  }

  a:first-child {
    color:       $color_peach_orange_approx !important;
    font-weight: normal;
  }
}

div#header {
  text-align:  center;
  font-size:   5em;

  a {
    font-weight:     900;
    color:           $color_peach_orange_approx;
  }

  img {
    margin: -0.2em -0.5em 0 -0.1em;
  }
}

table {
  border-collapse: collapse;
}

div#history table {
  width:           100%;
}

div#history {
  h2 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  a {
    height:   100%;
    position: absolute;
    width:    100%;
  }

  td {
    position:       relative;

    &.author {
      font-weight: bold;
    }

    &.subject {
      font-family: monospace;
      font-size:   10pt;
      width:       60%;
    }
  }

  tr {
    &:not(:last-child) td {
      padding-bottom: 0.1em;
    }

    &.hidden {
      display: none;
    }

    &.show-all {
      cursor: pointer;
      font-weight: bold;
      text-align:  center;
    }
  }
}

div.border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

div.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

div#home, div#status {
  text-align:    center;

  a.center, h2, & + h2 {
    font-size:   22pt;
  }

  a.center {
    display: block;
    margin:  1em 0 0 0;
  }

  h2 {
    color:   $color_peach_orange_approx;
    margin:  0.5em 0;
    display: inline;
  }

  form {
    display: inline;
  }

  & + h2 {
    color:      $color_peach_orange_approx;
    font-size:  1.3em;
    margin-top: 0.5em;
    text-align: center;
  }
}

div#status {
  text-align: center;
  padding-bottom: 2em;
}

div#timestamps {
  color:          $color_peach_orange_approx;
  text-align:     center;
}

div.listing {
  margin:     0.5em 1em;
  text-align: center;
}

div.listing.browse {
  margin: 1em 2em 2em;
}

.listing table {
  margin: 0 auto;
}

.listing.browse table {
  width: 100%;
}

.listing td {
  vertical-align: baseline;
  padding: 0 0.5em;
}

#deps, #revdeps {
  td {
    vertical-align: baseline;
    padding-right: 0.5em;
 }
}

.browse .desc {
  margin-left: 0.5em;
}

div.recently-removed {
  margin:  1em;
  padding: 0.4em;
  text-align: center;

  a {
    font-size:   1.2em !important;
    font-weight: normal;
  }

  h5 {
    margin:      0.3em 0;
  }

}

div.recently-added, div.recently-updated {
  float: left;
  width: 48%;
  margin-top: 1em;

  div.formula strong {
    float:          right;
    line-height:    1.8em;
    vertical-align: middle;
  }

  div.listing {
    min-height: 10em;
  }

  h3 {
    text-align:  center;
  }
}

div.recently-removed {
  clear: both;
}

h1 {
  color:           $color_peach_orange_approx;
  font-size:       28pt;
  line-height:     28pt;
  text-decoration: none;
  text-shadow:     1px 1px 10px $black_25;
  text-align:      center;
}

h2 {
  color:     $color_peach_orange_approx;
  font-size: 15pt;
  margin:    0 0 1em 0;

  em {
    color:       $color_peach_orange_approx;
  }
}

h3 {
  font-size: 12pt;
}

div.show {
  margin-left: 5.5em;

  h1 {
    text-align: left;
  }
}

i.search-icon {
  color:        $color_peach_orange_approx;
  font-size:    18pt;
  margin-right: 0.2em;
}

img {
  border: none;
}

img#github-ribbon {
  border:   none;
  left:     0;
  position: absolute;
  top:      0;
  z-index:  -1;
}

input {
  @include border-radius(0.4em);
  border:     1px solid rgba(255, 255, 255, 0.08);
  background: rgba(0,0,0,0.3);
  color:      #fff;
  font-size:  1.3em;
  margin:     1.5em 0;
  padding:    0.2em 1em;

  &:-moz-placeholder {
    color: rgba(255, 255, 255, 0.4);
  }

  &::-moz-placeholder {
    color: rgba(255, 255, 255, 0.4);
  }

  &::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
  }

  &:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
  }
}

nav {
  margin:     0.5em 0;
  text-align: center;
}

nav span.current, ul#letters a.current, ul#letters span.current {
  color:       $color_peach_orange_approx;
  font-weight: bold;
  text-decoration: underline;
}

strong.version {
  color:      $color_peach_orange_approx;
  white-space: nowrap;
  margin-top: 2px;
  text-align: left;
}

table.versions {
  margin-top: 5px;

  td {
    padding-right: 0.5em;
  }
}

.formula {
  text-align: left;
}

div#basic {
  margin-top: 1em;
}

.spec-stable:before {
  color:   #3abb22;
  content: "✅";
}

.spec-devel:before {
  color:   #dad826;
  content: "🛠";
}

.spec-head:before {
  color:   #d38400;
  content: "⚡️";
}

ul#letters {
  list-style: none;

  li {
    display:       inline;
    padding-right: 1em;
  }
}
