<tr class="formula <%= cycle 'even', 'odd' %>">
  <td><%= formula_link formula %></td>
  <td><span class="spec-<%= formula.best_spec %>"></td>
  <td><strong class="version"><%= formula.version %></strong></td>
</tr>
