script[type="application/ld+json"]
  |{
      "@context": "http://schema.org",
      "@type": "WebApplication",
      "applicationCategory": "Package browser",
      "dateCreated": "2012-01-06T11:10:35+0100",
      "datePublished": "2012-01-07T01:42:05+0100",
      "image": "#{url_to_image 'favicon.png'}",
      "license": "https://opensource.org/licenses/BSD-3-Clause",
      "name": "braumeister.org",
      "operatingSystem": "any",
      "sameAs": "https://twitter.com/braumeister_org",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "#{search_formulae_url}/{term}",
        "query-input": "required name=term"
      }
    }
